@font-face {
    font-family: "FuturaEF";
    src: url(/fonts/FuturaEF-DemiBold.eot);
    src: url(/fonts/FuturaEF-DemiBold.eot?#iefix) format("embedded-opentype"), url(/fonts/FuturaEF-DemiBold.woff) format("woff"), url(/fonts/FuturaEF-DemiBold.svg#FuturaEF-DemiBold) format("svg");
    font-weight: 600;
}

html {
    position: relative;
    min-height: 100%;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-family: "FuturaEF","Futura",sans-serif;
    overflow-y: hidden;
}
.main-content-container h1{
    font-size:30px;
}
.main-content-container h2{
    font-size:22px;
}
.main-content-container .input-group{
    width:50%;
}
.rows-container {
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.main-content-container {
    /*max-width: 380px;*/
    /*max-width:450px;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom:90px;
}

    .main-content-container .h1-container {
        display: flex;
        align-items: center;
        /*margin-top: 80px;*/
        margin-top: 30PX;
    }

    .main-content-container .key-logo {
        width: 40px;
       /* margin-right: 12px;*/
       margin-right: 6px;
    }

    .main-content-container h1 {
        font-family: FuturaEF, Futura, arial, sans-serif;
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-content-container h2 {
        font-family: FuturaEF, Futura, arial, sans-serif;
        /*margin-top: 40px;
        margin-bottom: 20px;*/
    }

/*yogesh css header*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-xs-12 {
    padding-right: 0px;
    padding-left: 0px;
}

header {
    /*margin-top: 20px;*/
    margin-top: 10px;
}

    header .logo-wrapper {
        display: inline-block;
        float: left;
    }

        header .logo-wrapper .logo {
            margin-left: 10px;
        }

.logo {
    display: block;
    /*width: 217px;*/
    width: 172px;
    height: auto;
    /*margin-top: 10px;*/
}

.row.hor-line {
    background-color: #FF8300;
    height: 4px;
    /*margin-top: 30px;*/
    margin-top: 15px;
    overflow: hidden;
}
/*yogesh css header*/
/*yogesh css footer*/
#footer{
    /*display:block;*/
    position:fixed;
    bottom:0;
    width:100%;
}
#footer p{
    margin: 0 0 0;
}
footer {
    background-color: #FF8300;
    /*color: #fff;*/
}

    footer a, p {
        color: #fff;
    }

    footer .site__footer__top {
        padding: 30px 30px 20px;
    }

    footer .social__icons {
        text-align: right;
    }

        footer .social__icons a {
            width: 48px;
            height: 48px;
            display: inline-block;
            margin-left: 5px;
            overflow: hidden;
            outline: 0;
            position: relative;
        }

            footer .social__icons a img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
            }

            footer .social__icons a:hover img {
                top: -48px;
            }

.row.site__footer__bottom.page-sections__row {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}

footer .site__footer__bottom * {
    font-size: 14px;
}

footer .site__footer__bottom .page-section .footer-content {
    padding: 10px 30px 30px 30px;
}

footer .site__footer__bottom a {
    color: #fff;
    text-decoration: underline;
}
/*resposive footer media query*/
@media (max-width: 992px) {
    footer {
        padding: 20px 0;
    }

        footer .logo {
            width: 100%;
            margin: 10px 20px 30px 0;
            max-width: 217px;
        }

    .logo {
        width: 150px;
        margin: 30px 20px 0px 15px;
    }

    footer .site__footer__bottom {
        padding: 0 15px;
    }

        footer .site__footer__bottom .page-section {
            padding-bottom: 15px;
        }
}

@media (max-width: 680px) {
    footer .site__footer__top {
        padding-bottom: 0;
        padding: 20px 15px;
        margin: 0 !important;
    }

    footer .social__icons {
        margin-top: 5px !important;
        padding-right: 0px !important;
        text-align: right;
    }

        footer .social__icons a {
            height: 32px !important;
            width: 32px !important;
        }

    footer .row.site__footer__bottom.page-sections__row {
        display: block !important;
        margin: 0;
    }
    #footer{
        position:relative;
    }
    .main-content-container .input-group{
    width:100%;
}
}

@media (max-width: 778px) {
    footer .site__footer__bottom .footer-content {
        padding: 0 !important;
    }
     #footer{
        position:relative;
    }
}

/*responsive footer media query*/
/*yogesh css footer*/
.col-xs-5{
    padding-left:0px;
}

.container.main-container {
    margin-top: 30px;
}
.logo-wrapper{
    float:left;
}
.sub-heading{
    margin:5px 0px;
    
}
.sub-heading p{
    color:#000;
}
#introtitle{
    background: url(/images/key.png) no-repeat scroll 0px 13px rgba(0, 0, 0, 0);
    background-size: 6%;
    padding-left: 55px;
    border-bottom: none;
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1.5em;
   }
#introtext, #introtitle {
    padding-top: 0.313em;
    padding-bottom: 0.313em;
}
@media (max-width: 480px){
    #introtitle{
    background: url(/images/key.png) no-repeat scroll 10px 12px rgba(0, 0, 0, 0) !important;
    background-size: 10% !important;
  
}
    }

.grp_error_message {
    padding-top: 15px;
}
.grp_error_message p {
    color:#000;
}