@charset "UTF-8";

.lang-en {
	display:none;
}

.custom-message:after {
  content: 'CGI delivers secure logon.';
}

.custom-method-title:after {
  content: 'Choose loginmethod.';
}

/* header Back to / start page */
.custom-header-home:after {
  content: 'Home';
}

/* header SAML fail / Back to SP */
.custom-header-cancel:after {
  content: 'Cancel';
}

/* header Back to login-page-url */
.custom-header-login-page:after {
  content: 'Back';
}

/* header Back to / start page */
.custom-grp_enter-home:after {
  content: 'Home';
}
/* header SAML fail / Back to SP */
.custom-grp_enter-cancel:after {
  content: 'Cancel';
}

/* header Back to login-page-url */
.custom-grp_enter-login-page:after {
  content: 'Back';
}

/* header Back to / start page */
.custom-grp_poll-home:after {
  content: 'Home';
}
/* header SAML fail / Back to SP */
.custom-grp_poll-cancel:after {
  content: 'Cancel';
}

/* header Back to login-page-url */
.custom-grp_poll-login-page:after {
  content: 'Back';
}

.custom-enter-ssn-title:after {
  content: 'BankID on other device';
}

.custom-message-title:after {
  content: 'Login.';
}
.no-links .shortcuts{display:none}

.custom-contact-support-1:after {
content: 'There are several issuers of electronic identification (e-ID) and the most common way to obtain one is to contact your bank. If you have Online Banking you can easily get an e-ID as a file to download to your computer. Another option is to get an e-ID on a card, and some issuers can even provide an e-ID for your mobile phone.';
} 
.custom-contact-support-2:after {
content: 'To be able to get a Swedish e-ID you need to have a Swedish personal identity number, and be in the Swedish population register. If you are not registered for population purposes in Sweden the process is more difficult and you will need to speak to your bank.';
} 
.custom-contact-support-3:after {
content: 'If you are under 18, a guardian’s consent is needed and you will have to visit the bank or Skatteverket’s office together to get an e-ID. You also have to visit the bank or Skatteverket to get an e-ID if your identity is protected.';
} 
.custom-contact-support-4:after {
content: 'Different issuers of e-IDs may have different fees. An e-ID as a computer file is usually free, while an e-ID on a card usually cost money. The card may also be used as a physical form of ID.';
} 
.custom-contact-support:after {
content: 'Contact & support';
} 
.custom-sparra-1:after {
content: 'To block your e-ID';
} 
.custom-sparra-2:after {
content: 'An electronic identification (e-ID) is a personal form of identification that you should keep safe. Your PIN should also be kept a secret. If you suspect that an unauthorized person has, or have had, access to your e-ID – or if you have lost it – you should immediately get it blocked so it no longer can be used.';
} 
.custom-sparra-3:after {
content: 'If your e-ID is a file on your computer or on your mobile phone, you can usually log in to your Online Banking account and block it yourself. If you cannot log in to your bank, or if your e-ID is on a card, you have to call your issuer to get it blocked.';
}
.custom-sparra-4:after {
content: 'A stolen or lost ID card should be reported to the police. Call 114 14 (if you are in Sweden) or file a report online at ';
} 
.custom-testa-1:after {
content: 'Test your e-ID';
} 
.custom-testa-2:after {
content: 'The issuer of your e-ID is responsible for support and help with the software needed on your computer. On these websites you can test if your e-ID is working, and you can also install or update the necessary security software.';
} 
.custom-testa-3:after {
content: 'Test BankID and Nordea e-ID';
} 
.custom-testa-4:after {
content: 'Test e-ID from';
} 
.custom-testa-5:after {
content: 'Install BankID’s security software (Also for Nordea e-ID';
} 
.custom-testa-6:after {
content: 'Install BankID’s security software for Nordea';
} 
.custom-testa-7:after {
content: 'Install Net iD';
} 
.custom-testa-8:after {
content: 'If you cannot get it to work, contact your issuer for support. If your e-ID is working on the test website but you have problems using it with an e-service, you should contact the government agency or company that provides the e-service.';
} 
.custom-vad-1:after {
content: 'What is an e-ID';
} 
.custom-vad-2:after {
content: 'An e-ID is an electronic form of identification that you can use to identify yourself on the Internet, in the same way a driving license or an ID card is used when identifying yourself in person.';
} 
.custom-vad-3:after {
content: 'You can sign documents electronically via the Internet with an e-ID. It is as legally binding as if you sign the document with a pen on paper. Having an e-ID makes it easier for you to use the different online services many government agencies, municipalities and companies provide.';
} 
.custom-vad-4:after {
content: 'You can have your e-ID as a file on your computer or on a so-called smart card. Some issuers can provide an e-ID for your mobile phone.';
} 
.custom-vad-5:after {
content: '';
} 
.custom-support-1:after {
content: 'Where you can get support';
} 
.custom-support-2:after {
content: 'You should contact your issuer for help if you have trouble getting your e-ID to work. The issuer is usually your bank. If you have an e-ID as a file but cannot get it to work at the test website, you can try downloading a new one from your Online Banking account. Do not forget to block the old one!';
} 
.custom-support-3:after {
content: 'If you cannot get an e-service to work, but your e-ID is working on the test website, you should contact the government agency or company that provides the e-service.';
} 
.custom-support-4:after {
content: 'Issuers’ contact information for further support:';
}
 


.custom-cookieinfo:after {
content: 'Information about cookies';
}
.custom-kakor-1:after {
content: 'Cookies';
}
.custom-kakor-2:after {
content: 'This website for logging in with electronic identification (eID) contains two so-called cookies. A cookie is a small text file that the website may store on your computer to make automatic login to different e-services possible for 60 minutes after you identified yourself with your eID.';
}
.custom-kakor-3:after {
content: 'One of them, the session cookie, contains a unique random number to identify your login. It is temporary and disappears when the browser is closed.';
}
.custom-kakor-4:after {
content: 'The other cookie contains information about which of our servers handled your login. It is persistent and remains in your browser even after the browser is closed.';
}
.custom-kakor-5:after {
content: 'These cookies are necessary to let you log in and safely access your e-services as an identified user. The cookies do not contain any of your personal information and are not used by anyone else.';
}
.custom-kakor-6:after {
content: 'Avoid cookies';
}
.custom-kakor-7:after {
content: 'If you do not want to accept cookies you can change the settings in your web browser to automatically reject them, or to inform you when a cookie is being sent from a website. You can also delete previously stored cookies through the browser. Please refer to the browser's help pages for more information.';
}
.custom-kakor-8:after {
content: 'If you choose to not accept cookies you cannot use eID to identify yourself for this e-service.';
}
.custom-kakor-9:after {
content: 'More information about cookies can be found at';
}
.custom-kakor-10:after {
content: 'the Swedish Post and Telecom Authority’s website.';
}
